<!doctype html>
<head>
<title>Phone Browser</title>
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"/>
<link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet"/>
<style>
    body{
        padding-top:50px;
    }
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/browse">All Phones</a></li>
            <li><a href="/spec">By Specification</a></li>
        </ul>
        <div id="search">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" placeholder="Search"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Whoops!</h1>
    <p>Unfortunately we can't find that</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>

