<!doctype html>
<head>
<title>Browse</title>
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"/>
<link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet"/>
<style>
body{
    padding-top:50px;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/browse">All Phones</a></li>
            <li><a href="/spec">By Specification</a></li>
        </ul>
        <div id="search">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" placeholder="Search"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1>List of all {% if manufacturer %}{{manufacturer}}{%endif%} phones</h1>
    {% set curr = [] -%}
    {% for phone in data -%}
        {% if not manufacturer -%}
            {% if phone["Manufacturer"] not in curr -%}
                {% do curr.append(phone["Manufacturer"]) -%}
                <h2><a href="/browse/{{curr[-1]}}">{{curr[-1]}}</a></h2>
                    <ul class='phones'>
                        {% set imgpath = phone['Manufacturer']+'_'+ phone['Model'].replace(" ", "_")+".png" %}
                        <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}"><img class='icon' src="{{url_for('static', filename=imgpath)}}"></li>
                        <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}">{{ phone["Model"] }}</a></li>
                    </ul>
            {% else %}
            <ul class='phones'>
                {% set imgpath = phone['Manufacturer']+'_'+ phone['Model'].replace(" ", "_")+".png" %}
                <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}"><img class='icon' src="{{url_for('static', filename=imgpath)}}"></li>
                <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}">{{ phone["Model"] }}</a></li>
            </ul>
            {%- endif %}
            {% else %}
            <ul class='phones'>
                {% set imgpath = phone['Manufacturer']+'_'+ phone['Model'].replace(" ", "_")+".png" %}
                <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}"><img class='icon' src="{{url_for('static', filename=imgpath)}}"></li>
                <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}">{{ phone["Model"] }}</a></li>
            </ul>
        {%- endif %}
        {%- endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>

