<!doctype html>
<head>
<title>Browse</title>
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"/>
<link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet"/>
<style>
body{
    padding-top:50px;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/browse">All Phones</a></li>
            <li class="active"><a href="/spec">By Specification</a></li>
        </ul>
        <div id="search">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" placeholder="Search"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Choose by specification</h1>
    <h2>Operating System</h2>
    <ul class='phones'>
    {% set curr = [] -%}
    {% for phone in OS -%}
        {% if phone["OS"] not in curr -%}
            {% do curr.append(phone["OS"]) -%}
            <h3>{{curr[-1]}}</h3>
        {%- endif %}
        {% set imgpath = phone['Manufacturer']+'_'+ phone['Model'].replace(" ", "_")+".png" %}
        <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}"><img class='icon' src="{{url_for('static', filename=imgpath)}}"></li>
            <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}">{{phone["Manufacturer"]}} {{ phone["Model"] }}</a></li>
        {%- endfor %}
    </ul>
    <h2>Screen Size</h2>
    <ul class='phones'>
    {% set curr = [] -%}
    {% for phone in ScrSize -%}
        {% if phone["ScrSize"] not in curr -%}
            {% do curr.append(phone["ScrSize"]) -%}
            <h3>{{curr[-1]}}</h3>
        {%- endif %}
        {% set imgpath = phone['Manufacturer']+'_'+ phone['Model'].replace(" ", "_")+".png" %}
        <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}"><img class='icon' src="{{url_for('static', filename=imgpath)}}"></li>
        <li><a href="/{{phone["Manufacturer"]}}/{{phone["Model"]}}">{{phone["Manufacturer"]}} {{ phone["Model"] }}</a></li>
        {%- endfor %}
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>


