p{
    font-size:18pt;
}
th, td{
    width:70%;
    border-top:1px solid black;
    padding:1em
}
th{
    width:20%
}
td{
    width:805
}
h1{
    text-align:center;
}
table{
    position:relative;
    left:10%;
    width:80%;
    left:10%;
    background-color:#EEEEEE;
}
.info_img{
    position:relative;
    height:auto;
    width:40%;
    left:30%;
    padding:1em;
}
.icon{
    position:initial;
    width:30%;
    left:40%;
}
.phones{
    position:relative;
    width:80%;
    list-style-type:none;
}
li{
    position:relative;
    text-align:center;
}
h2{
    position:relative;
    left:20%;
}
#search{
    float:right;
    width:20%;
    margin-top:5px;
    margin-right:5px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#search input{
    border: 0;
    box-shadow: none;
}

#search button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom.glyphicon-search{
    font-size: 23px;
}
